.git
.venv
.uv-cache
__pycache__
*.py[cod]
.pytest_cache
.pytest-tmp
notebooks
data/raw
data/processed
data/manifests
data/final_external_test
models/*
!models/convnext/
models/convnext/*
!models/convnext/convnext_convnext_tiny_20260921T060517413359Z_convnext.pt
!models/efficientnet/
models/efficientnet/*
!models/efficientnet/efficientnet_efficientnet_v2_s_20260921T053334483303Z_efficientnet.pt
!models/multimodal/
models/multimodal/*
!models/multimodal/multimodal_dinov2_vits14_20260921T224823181902Z_multimodal_serious_01.pt
results
*.pt
*.pth
!models/convnext/convnext_convnext_tiny_20260921T060517413359Z_convnext.pt
!models/efficientnet/efficientnet_efficientnet_v2_s_20260921T053334483303Z_efficientnet.pt
!models/multimodal/multimodal_dinov2_vits14_20260921T224823181902Z_multimodal_serious_01.pt
.env
Thumbs.db
